@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/Proxima Nova Thin.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.test {
	font-family: 'Proxima Nova thin', sans-serif;
}